.onboarding-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, calc(100% - 1em))); /* 25% for 4 cards per row */
    grid-auto-rows: minmax(100px, auto); /* setting a minimum height for the cards */
    grid-gap: 1em;
    align-items: stretch; /* making all cards have the same height */
    padding: 40px 0px;
}

.onboarding-card {
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; /* making the card a flex container */
    flex-direction: column; /* arranging content vertically */
    justify-content: center; /* centering content vertically */
    align-items: center; /* centering content horizontally */
    border: 1px solid rgba(0, 0, 0, 0.2); /* adding a dark border line */
}

.onboarding-card h1 {
    font-size: 3em; /* making the text big */
    text-align: center; /* centering the text */
}
