.outer-container {
  height: 100vh;
  padding: 20px 140px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.inner-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

#root {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.button-style {
  flex: 1;
  margin: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.vote-button {
  border: 1px solid rgba(0, 0, 0, 0.2);
}